 
<d<div class="banners  push-down-30">
  <div class="container">

    <div class="row">
      <div class="col-xs-12  col-sm-6  col-md-3">
        <div class="banners-box">
          
          <b class="banners__title">CONTATO DO RESTAURANTE</b>+55 22 2222-2222</div>
      </div>
      <div class="col-xs-12  col-sm-6  col-md-3">
        <div class="banners-box">
          
          <b class="banners__title">HORÁRIO ALMOÇO</b>
            Segunda à Sexta
            <br>
            11:00 às 14:00
  

</div>
      </div>
      <div class="col-xs-12  col-sm-6  col-md-3">
        <div class="banners-box">
          
          <b class="banners__title">HORÁRIO JANTA</b>
          Segunda à Sexta
      <br> 17:30 às 20:00
        </div>
      </div>
      <div class="col-xs-12  col-sm-6  col-md-3">
        <div class="banners-box">
          
          <b class="banners__title">Preço</b>
  <b>Alunos cotistas:</b> 1 Refeição Gratuita e a Segunda R$3,00<br>
  <b>Graduando:</b> R$3,00 cada refeição<br>
  <b>Funcionários e Pos-Graduando</b> R$5,00 cada refeição<br>
 
        </div> <!-- banner -->


      </div> <!-- col-xs-12  col-sm-6  col-md-3 -->


    <%= render 'layouts/home' %>


    </div> <!-- row -->

  </div>
</div>




