<footer class="js--page-footer">
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__social">
              <img class="push-down-10" alt="Footer Logo" src="images/logo-footer.png" width="139" height="35">
              <p class="push-down-15">Projeto desenvolvido com o intuito de levar ao alunos e funcionários da UENF mais praticidade e informação quanto ao Restaurante Universitário.</p>
              <a class="social-container" href="https://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
              <a class="social-container" href="https://twitter.com/ProteusNetCom"><span class="zocial-twitter"></span></a>
              <a class="social-container" href="#"><span class="zocial-email"></span></a>
              <a class="social-container" href="http://www.youtube.com/user/ProteusNetCompany"><span class="zocial-youtube"></span></a>
            </div>
          </div>
          <div class="col-xs-12  col-sm-3">
            <nav class="footer-widgets__navigation">
              <div class="footer-wdgets__heading--line">
                <h4 class="footer-widgets__heading">Projeto</h4>
              </div>
              <span>
 O projeto do site é mantido por um aluno no intuito de ajudar à toda comunidade a ter os horários e os pratos servidos na semana.
  
</span>
            </nav>
          </div>
          <div class="col-xs-12  col-sm-3">
            
          </div>
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__navigation">
                <div class="footer-wdgets__heading--line">
                  <h4 class="footer-widgets__heading">Contact Us</h4>
                </div>
                <a class="footer__link" href="#">Organique ltd.</a><br>
                Tehnološki park 19,<br>
                1000 Ljubljana, Slovenia<br>
                <a class="footer__link--small" href="contact-2.html">View Google map <span class="glyphicon glyphicon-chevron-right glyphicon--footer-small"></span></a><br><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-earphone glyphicon--footer"></span> +386 31 567 537</a><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-envelope glyphicon--footer"></span> hello@proteusnet.com</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text--link">
              <a class="footer__link" href="#">Restaurante Universitário UENF</a>  © Copyright 2015. Develop by <a class="footer__link" href="http://www.3ibit.com" target="_blank">3IBit</a>.
            </div>
          </div>
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>