<footer class="js--page-footer">
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__social">
              <img class="push-down-10" alt="Footer Logo" src="images/logo-footer.png" width="139" height="35">
              <p class="push-down-15">Projeto desenvolvido com o intuito de levar ao alunos e funcionários da UENF mais praticidade e informação quanto ao Restaurante Universitário.</p>
              
            </div>
          </div>
          <div class="col-xs-12  col-sm-3">
            <nav class="footer-widgets__navigation">
              <div class="footer-wdgets__heading--line">
                <h4 class="footer-widgets__heading">Projeto</h4>
              </div>
              <span>
 O projeto do site é mantido por um aluno no intuito de ajudar à toda comunidade a ter os horários e os pratos servidos na semana.
  
</span>
            </nav>
          </div>
          <div class="col-xs-12  col-sm-3">
            
          </div>
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__navigation">
                <div class="footer-wdgets__heading--line">
                  <h4 class="footer-widgets__heading">Contato</h4>
                </div>
                <a class="footer__link" href="#">Empresa XXX</a><br>
                Rua 7 de setembro,<br>
                Parque California<br>
                <a class="footer__link--small" href="contact-2.html">Visualizar no Google Maps  </a><br><br>
                <a class="footer__link" href="#">  +386 31 567 537</a><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-envelope glyphicon--footer"></span> contato@3ibit.com</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text--link">
              <a class="footer__link" href="#">Restaurante Universitário UENF</a>  © Copyright 2015. Develop by <a class="footer__link" href="http://www.3ibit.com" target="_blank">3IBit</a>.
            </div>
          </div>
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>